/* (c)2020 Giuseppe Rossi */

/* Padding in presenza di notch */
:root {
    --sat: env(safe-area-inset-top);
    --vw: 1vw;
    --vh: 1vh;
}
/* Proprieta viewport */
@viewport {
    viewport-fit: cover;
    orientation: portrait;
}

/* Nero di lato */
@media (min-aspect-ratio: 2813/5000) {
    .embed-responsive {
        width: calc(var(--vh) * 56.25);
        height: calc(var(--vh) * 100);
    }
}
/* Nero sopra e sotto */
@media (max-aspect-ratio: 703/1250) {
    .embed-responsive {
        width: calc(var(--vw) * 100);
        height: calc(var(--vw) * 177.77);
    }
}
/* Esatto */
@media (aspect-ratio: 9/16) {
    .embed-responsive {
        width: 100%;
        height: 100%;
    }
}
@font-face {
    font-family: pixel;
    src: url(font.ttf);
}
#blackb {
    background-color: black;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
}
html, body {
    margin: 0;
    overflow: hidden;
    font-family: 'pixel';
    background-color: black;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    width: 100%;
    height: 100%;
}
@media (display-mode: fullscreen), (display-mode: standalone) {
    html, body {
        width: 100vw;
        height: 100vh;
    }
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.embed-responsive {
    background: #212529;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; /* Centra verticalmente */
    left: 0; right: 0; /* Centra orizzontalmente */
    overflow: hidden;
}
.container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}
#game {
    opacity: 1;
    right: 0;
    z-index: 0;
    transition: opacity 0.4s ease-in-out;
}
#game.fade {
    opacity: 0;
}
#loading {
    z-index: 2;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #B154C1;
}
#loading p {
    width: 100%;
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    left: 0;
    display: block;
    position: absolute;
    font-size: 1.8em;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
#leaderboard {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 100vw;
    transition: left 0.4s ease-in-out;
    background-color: white;
}
#leaderboard.visible {
    left: 0;
}
#login {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 4;
    top: 100vh;
    transition: top 0.4s ease-in-out;
    background-color: white;
    padding-top: var(--sat);
}
#login.visible {
    top: 0;
}
